{% extends "base.html.twig" %}

{% block body %}
    <h1>Vidéothèque en ligne</h1>
    <div class="main container-fluid">
        <div class="btn-group" role="group">
            <a type="button" class="btn btn-default btn-action-sigma" href="{{ path('film_new') }}"><span class="glyphicon glyphicon-pencil"></span><br>Ajouter</a>
        </div>
        <br>
        <div class="count">
            <label>Nombre de films: {{ pagination.getTotalItemCount }}</label>
        </div>
        <br>
        <table class="table table-striped" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th{% if pagination.isSorted('f.titre') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Title', 'f.titre') }}</th>
                    <th{% if pagination.isSorted('f.description') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Description', 'f.description') }}</th>
                    <th{% if pagination.isSorted('f.categorie') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Catégorie', 'f.categorie') }}</th>
                    <th class="text-center">Affiche</th>
                    <th class="text-center">Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for film in pagination %}
                    <tr>
                        <td class="text-left" style="width:15%;">{{ film.titre }}</td>
                        <td class="text-left" style="width:60%;">{{ film.description }}</td>
                        <td class="text-center" style="width:5%;">{{ film.categorie }}</td>
                        <td class="text-center" style="width:15%;">
                            <img src="{{ '/uploads/photos/' ~ film.photo }}" style="width: 100px"/>

                        </td>
                        <td class="actions-btn-2-normal text-center" style="width:5%">
                            <div class="btn-group" role="group">
                                <a type="button" class="btn btn-default btn-action-sigma" href="{{ path('films_edit', {'id': film.id}) }}"><span class="glyphicon glyphicon-pencil"></span><br>Modifier</a>
                                <a type="button" class="btn btn-default btn-action-sigma" href="{{ path('films_remove', {'id': film.id}) }}"><span class="glyphicon glyphicon-pencil"></span><br>Effacer</a>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

    {# display navigation #}
    <div class="navigation">
        {{ knp_pagination_render(pagination) }}
    </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">

    </script>
{% endblock javascripts %}

