{% extends '::base.html.twig' %}

{% block stylesheets %}
    {% stylesheets
        'lib/bootstrap-3.3.7-dist/css/bootstrap.min.css'
        'lib/bootstrap-3.3.7-dist/css/bootstrap-theme.min.css'
        'lib/jquery-ui/css/jquery-ui.min.css'
        'lib/jquery-ui/css/jquery-ui.structure.min.css'
        'lib/jquery-ui/css/jquery-ui.theme.min.css'
        'lib/select2-4.0.3-dist/css/select2.min.css'
        'lib/datatables/css/jquery.dataTables.min.css'
        'lib/font-awesome-4.7.0/css/font-awesome.min.css'
        'lib/toastr/css/toastr.min.css'
        filter='uglifycss'
        filter='cssrewrite'
        output='css/compiled/lib.css'
    %}
        <link rel="stylesheet" href="{{ app.request.getSchemeAndHttpHost() ~ asset_url }}" />
    {% endstylesheets %}
    <link rel="stylesheet" href="{{ app.request.getSchemeAndHttpHost() ~ asset('bundles/prismasigma/css/common.css') }}"/>
    {% if isForm is defined and isForm %}
        <link rel="stylesheet" href="{{ app.request.getSchemeAndHttpHost() ~ asset('bundles/prismasigma/css/form.css') }}"/>
    {% endif %}
{% endblock stylesheets %}

{% block body_base %}
    <header>
        {{ include('PrismaSigmaBundle:Utils:_navbar.html.twig') }}
    </header>

    <div id="wrapper" class="{{ (app.request.cookies.get('hamburger') is null or app.request.cookies.get('hamburger') == 'true') ? 'toggled' }}">
        <div class="overlay"></div>
        <!-- Sidebar -->
        {%  include 'PrismaSigmaBundle:Utils:_sidenav.html.twig' with {
            'menu_active': menu|default(''),
            'submenu_active': submenu|default('')}
        %}
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div class="container-sigma{{ isForm is defined and isForm ? ' form' }}">
            <button type="button"
                    class="hamburger {{ (app.request.cookies.get('hamburger') is null or app.request.cookies.get('hamburger') == 'true') ? 'is-open' : 'is-closed' }}"
                    data-toggle="offcanvas">
                <span class="hamb-top"></span>
                <span class="hamb-middle"></span>
                <span class="hamb-bottom"></span>
            </button>

            <div class="col-xs-12 main-content">
                {% block body %}
                {% endblock %}
            </div>
        </div>
        <!-- /#page-content-wrapper -->
    </div>

    <div class="loader-global" style="display: none;">
        <div>Chargement en cours</div>
        <img src="{{ app.request.getSchemeAndHttpHost() ~ asset('bundles/prismasigma/img/working.gif') }}">
    </div>
{% endblock body_base %}

{% block javascripts %}
    {% javascripts
        'lib/jquery-3.1.1-dist/js/jquery.js'
        'lib/bootstrap-3.3.7-dist/js/bootstrap.min.js'
        'lib/jquery-ui/js/jquery-ui.min.js'
        'lib/jquery-ui/i18n/datepicker-fr.js'
        'lib/select2-4.0.3-dist/js/select2.min.js'
        'lib/datatables/js/jquery.dataTables.min.js'
        'lib/toastr/js/toastr.min.js'
        'lib/moment/moment.min.js'
        filter='uglifyjs2'
        output='js/compiled/lib.js'
    %}
        <script src="{{ app.request.getSchemeAndHttpHost() ~ asset_url }}"></script>
    {% endjavascripts %}
    <script src="{{ app.request.getSchemeAndHttpHost() ~ asset('bundles/prismasigma/js/utils.js') }}"></script>
    {% include 'PrismaSigmaBundle:Utils:_notification.html.twig' %}
{% endblock javascripts %}
